[flake8]
max-line-length = 100
exclude = .git,__pycache__,build,dist,*.egg-info
extend-ignore = E203,W503
max-complexity = 10
docstring-convention = google
output-file = flake8.txt
tee = True
format = default
per-file-ignores =
    tests/*:D100,D101,D102,D103,D104
